# -------------------------------- General -------------------------------- #
NODE_ENV=production

# --------------------------------- Discord --------------------------------- #
DISCORD_CLIENT_ID=
DISCORD_CLIENT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=

# --------------------------------- GitHub --------------------------------- #
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
GITHUB_WEBHOOK_SECRET=""
